@page
@model WeCare.Web.Pages.RealizedConsultations.CreateModalModel
@using WeCare.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@inject IHtmlLocalizer<WeCareResource> L
@{
    Layout = null;
}

<abp-modal id="CreateConsultationModal">
    <abp-modal-header title="@($"Registrar última consulta de {Model.Consultation.PatientName}")"></abp-modal-header>
    <abp-modal-body>
        <form id="CreateConsultationForm" method="post">
            <abp-input asp-for="Consultation.PatientId" />

            <abp-row>
                <abp-column size-md="_8">
                    <abp-select asp-for="Consultation.ObjectiveId" asp-items="@Model.ObjectiveLookup" />
                </abp-column>
                <abp-column size-md="_4" class="d-flex align-items-end">
                    <abp-button id="NewObjectiveButton"
                                text="@L["Novo objetivo"].Value"
                                icon="plus"
                                button-type="Secondary" />
                </abp-column>
            </abp-row>

            <abp-input asp-for="Consultation.Duration" />
            <abp-input asp-for="Consultation.ConsultationDate" />

            <hr />

            <h4>@L["Treinos realizados"]</h4>
            <div id="performed-trainings-container">
                <!-- Os itens de treino serão adicionados aqui pelo JavaScript -->
            </div>

            <abp-button button-type="Outline_Primary" id="add-training-button">
                <i class="fa fa-plus me-1"></i> @L["Adicionar outro"]
            </abp-button>

            <hr />

            <abp-input asp-for="Consultation.Comments" />

        </form>
    </abp-modal-body>
    <abp-modal-footer>
        <abp-button button-type="Secondary" data-bs-dismiss="modal">@L["Cancel"]</abp-button>
        <abp-button id="SaveConsultationButton" type="submit" button-type="Success" text="@L["Salvar"].Value" />
    </abp-modal-footer>
</abp-modal>

<abp-script src="/Pages/RealizedConsultations/createModal.js" />
