@page
@model WeCare.Web.Pages.RealizedConsultations.IndexModel

@using Microsoft.AspNetCore.Mvc.Localization
@using WeCare.Localization
@inject IHtmlLocalizer<WeCareResource> L

@section styles {
    <abp-style-bundle name="@typeof(WeCare.Web.Pages.RealizedConsultations.IndexModel).FullName">
        <abp-style src="/Pages/RealizedConsultations/Index.css" />
    </abp-style-bundle>
}

@section scripts {
    <script>
        var patientIdForModal = '@Model.PatientId';
    </script>
    <abp-script-bundle name="@typeof(WeCare.Web.Pages.RealizedConsultations.IndexModel).FullName">
        <abp-script src="/Pages/RealizedConsultations/index.js" />
    </abp-script-bundle>
}

<div class="container-fluid">
    <div class="consultation-header mb-4">
        <h2>@L["Menu:RealizedConsultationsFor", Model.PatientName]</h2>
        <div>
            <abp-button id="NewConsultationButton"
                        text="@L["Registrar última consulta"].Value"
                        icon="plus"
                        button-type="Primary" />
        </div>
    </div>

    <div class="filter-buttons mb-4">
        <button class="btn btn-outline-secondary active" data-filter="all">Ver Todos</button>
        <button class="btn btn-outline-secondary" data-filter="NeuroPsico">NeuroPsico</button>
        <button class="btn btn-outline-secondary" data-filter="TO">T.Ocupacional</button>
        <button class="btn btn-outline-secondary" data-filter="Psicopedagoga">Psicopedagoga</button>
        <button class="btn btn-outline-secondary" data-filter="Fonoaudióloga">Fonoaudióloga</button>
    </div>

    <div id="ObjectiveListContainer">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>